html, body {
	font-family: Liberation-sans, sans-serif;
	font-weight: bold;
}

hr {
    border: 1px solid #19b019;
}

.jumbotron { 
	padding: 80px 0 80px 0;
    background-color: #19b019; /* istSOS green */
    color: #ffffff;
}

/* NAVIGATION BAR */
.bg-primary {
    background-color: #19b019 !important;
    border-radius: 5px !important;
    padding: 5px 10px 5px 10px;
}

.list-group-item {
    text-align: center !important;
}

.list-group-item>div {
    text-align: left !important;
}

.navbar {
    margin-bottom: 0;
    background-color: #fff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #19b019 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: #19b019  !important;
}

.navbar-default .navbar-toggle {
    background-color: #fff;
    border-color: #19b019;
    color: #fff !important;
}

/* IMAGES */
.img-thumbnail {
	display: inline-block;
	margin: auto auto;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
/* ABOUT ISTSOS CORE */

#core, #creator, #status, #reports, #links {
    background-color: #ddffdd;
	color: #005600;
    padding-bottom: 10px;
}

.core-p, .creator-p {
	line-height: 25px;
	font-size: 12pt;
	font-weight: normal;
	font-style: italic;
}

.status-p {
    line-height: 25px;
    font-size: 14pt;
    font-weight: normal;
    font-style: italic;
}

.status-text-p {
    line-height: 25px;
    font-size: 12pt;
    font-weight: normal;
}

.report-text {
    background-color: #ddffdd !important;
    border-radius: 5px !important;
    color: #005600 !important;
    padding: 10px;
}

table {
    background-color: white;
}

.link-group {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

#contact tr td {
    width: 1%;
}

